[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"fastapi[standard]" = "*"
pydantic-settings = "*"
fastapi-cors = "*"
pypdf = "*"
requests = "*"
spacy = "*"
lxml = "*"
langchain-text-splitters = "*"
sentence-transformers = "*"
faiss-cpu = "*"
rank-bm25 = "*"
transformers = "*"
gradio = "*"
nltk = "*"
openai = "*"

[dev-packages]
black = "*"
flake8 = "*"
uvicorn = "*"
pdoc = "*"
ipykernel = "*"
pytest = "*"
llama-cpp-python = {version = "*", optional = true}

[requires]
python_version = "3.12"

[scripts]
start = "uvicorn app.main:app --reload --port 8080 --host localhost"
test = "python -m pytest tests/run_tests.py"
format = "python -m black ."
lint = "python -m flake8 src"
docs = "docs.sh"
